hard/a_matter_of_0s_and_1s/
hard/alien_waveform/
hard/ascii_squares/
hard/be_rational/
hard/bird_watching/
hard/breaking_the_unbreakable/
hard/bring_john_glenn_home/
hard/calling_all_firefighters/
hard/checkmate/
hard/cipher_chaos/
hard/code_racer/
hard/did_we_calculate_correctly/
hard/diode_dance/
hard/dive_time/
hard/dominating_disney/
hard/endian_handler/
hard/evacuate/
hard/flight_finder/
hard/flower_power/
hard/flying_the_terrain/
hard/free_up_disk_space/
hard/get_out_the_vote/
hard/going_ballistic/
hard/guardrails_for_ai/
hard/helicopter_rescue/
hard/hide_your_spies/
hard/highlight_of_my_day/
hard/honeycomb/
hard/incoming/
hard/interstellar_travel/
hard/its_an_enigma/
hard/just_one_thing/
hard/labyrinth/
hard/lets_ship/
hard/lost_in_the_mail/
hard/maxwells_demon/
hard/metric_units/
hard/network_ranger/
hard/pathfinder/
hard/piece_by_piece/
hard/playfair_cipher/
hard/plink/
hard/race_to_the_finish/
hard/reschedule_it/
hard/root_cause/
hard/scrambled_equations/
hard/seeing_red_and_black/
hard/shifty_bits/
hard/ship_refueling/
hard/shopping_spree/
hard/spectral_identification/
hard/stay_away_from_me/
hard/sudoku/
hard/synaptic_server/
hard/take_me_out_to_the_state_machine/
hard/the_daily_grind/
hard/the_last_place_you_look/
hard/this_is_rocket_science/
hard/threes_company/
hard/tic_tac_toe/
hard/time_is_in_your_hands/
hard/tower_defense/
hard/tower_of_hanoi/
hard/trust_but_verify/
hard/under_pressure/
hard/voynich_manuscript/
hard/website_layout/
hard/word_by_word/
hard/word_search/
medium/adding_the_additives/
medium/apportionment/
medium/autokey/
medium/character_counter/
medium/compressed_transmission_decoder/
medium/jammer_defense_network/
medium/looking_a_bit_rusty/
medium/radar_tracking/
